.container {
    height: 400px;
    width: 400px;
    margin : 200px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display : flex;
    flex-direction: column;

}

.gridCell {
    border-color: black;
    border: 1px;
    border-style: solid;
    flex-grow: 1;

}

.row {
    display : flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}